<!DOCTYPE html>
<link href='http://fonts.googleapis.com/css?family=Abel|Advent+Pro:300' rel='stylesheet' type='text/css'>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Ladrillo </title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" href="css/bootstrap.min.css">
      

        <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3jciHCEr0fjZTEpg2hhpROVhBUwgPwHY&sensor=true">
        </script>
        <script type="text/javascript">
          function initialize() {
            var mapOptions = {
              center: new google.maps.LatLng(29.090827,-110.993355),
              zoom: 13,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);

            var marker = new google.maps.Marker({
            position: new google.maps.LatLng(29.085277,-110.993527),
            map: map,
            title: 'Hello World!'
            });
          }
          google.maps.event.addDomListener(window, 'load', initialize);
        </script>
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="logo brand" href="/">Ladrillo</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active advent solid"><a href="busca.html">Busca</a></li>
                            <li><a href="vende.html" class="advent solid">Vende</a></li>
                            <li><a href="estima.html" class="advent solid">Estima</a></li>
                            
                        </ul>
                       <!-- <form class="navbar-form pull-right">
                            <div class="btn-group">
                            	<button type="submit" class="btn btn-small">Entrar</button>
                            	<button type="submit" class="btn btn-small"><i class="icon-book"></i></button>
                            </div>
                            
                        </form>/.nav-collapse -->
                        <form class="navbar-form pull-right">
                            <div class="btn-group">
                                <a href="Entrar.html" class=" btn btn-small">Entrar</a>
                                <a href="EntrarIco.html" class=" btn btn-small"><i class="icon-book"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container top">
            <!-- Example row of columns -->
            <div class="row row-fluid"> 
                
                <div class="span12">
                    <h2 >Busca</h2>
                   <div id="map-canvas" class="span12"/>
                </div>

            </div>

            <footer>
                <p>&copy; Company 2013</p>
            </footer>

        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>


    </body>
</html>